// section-1
.intro
  width 100%
  min-height 62rem
  background url(../images/content/background.jpg) center no-repeat
  background-size cover
  display flex
  align-items center
  flex-direction: column
  padding-top 19.5rem
  .tablet &
    height 75rem
  .mobile &
    height auto
    padding-bottom 15rem
  &--heading
    color #ffffff 
    font-family $Brandon
    color #ffffff
    padding-bottom 4.3rem
    &__small
      font-size 3.2rem
      font-weight 300
      letter-spacing -0.08rem
      text-align center
      display block
      padding-bottom 3.3rem
      .tablet &
        font-size: 6rem
        padding-bottom 5.5rem
      .mobile &
        font-size: 8rem
        padding-bottom 7.5rem
    &__big
      font-size 6.6rem
      font-weight 700
      text-transform uppercase
      letter-spacing -0.165rem
      .tablet &
        font-size: 10rem
      .mobile &
        text-align center
        font-size: 15rem
        display block

// section-2 & section-3
.webdev,
.branding
  width 86.5rem
  margin 0 auto
  .tablet &
    width 120rem
  .mobile &
    width 100rem
  &--heading
    color $black
    font-size 6rem
    font-weight 300
    line-height 4.2rem
    font-weight 300
    letter-spacing -0.12rem
    .tablet &
      font-size: 10rem
    .mobile &
      font-size: 12rem
  &--description
    max-width 55.8rem
    .tablet &
      max-width 80rem
    .mobile &
      max-width 100%

// section-2 only
.webdev
  background url(../images/content/webdev.svg) 63rem 11rem no-repeat
  background-size 22rem
  padding 5rem 0 9.5rem
  .tablet &
    background url(../images/content/webdev.svg) 80rem 30rem no-repeat
    background-size 40rem
  .mobile &
    background transparent

// section-3 only
.branding
  padding-left 32.6rem
  background url(../images/content/branding.svg) 0 9rem no-repeat
  background-size 27rem
  padding-top 2.3rem
  padding-bottom 6.5rem
  .tablet &
    background url(../images/content/branding.svg) 0 30rem no-repeat
    background-size 35rem
    padding-left 42rem
  .mobile &
    background transparent
    padding-left 0
  .mobile &
    background transparent
  &--wrapper
    width 100%
    background $light
  &--heading
    letter-spacing -0.06rem
  &--description
    max-width 52rem
    .mobile &
      max-width 100%
    
// section-4
  .benefits
    display flex
    justify-content space-between
    flex-wrap: wrap
    width 86rem
    margin 0 auto
    padding 10rem 0 5.1rem
    .tablet &
      width 130rem
    .mobile &
      width 100rem
    &--item
      display flex
      width 37.5rem
      padding-bottom 1.2rem
      .tablet &
        width 100%
        align-items center
        margin-bottom 5rem
      .mobile &
        flex-direction: column
    &--img
      width auto
      height auto
      &--wrapper
        display flex
        justify-content center
        align-items center
        background $black
        border-radius: 50%
        width 7.2rem
        height 7.1rem
        margin-right 1.8rem
        flex-shrink: 0
        .tablet &
          width 15rem
          height 15rem
          margin-right 5rem
        .mobile &
          margin-right 0
          width 25rem
          height 25rem
    &--heading
      color $black
      display block
      font-size 2.2rem
      font-weight 500
      letter-spacing -0.055rem
      padding-bottom 0.8rem
      .tablet &
        font-size: 5.5rem
        line-height 6rem
      .mobile &
        text-align center
        margin-top 5rem
        margin-bottom 3rem
        font-size: 6.5rem
        line-height 7.5rem
    &--description
      margin-top 0
      .tablet &
        font-size: 5rem
        line-height 6rem
        margin-bottom 0
      .mobile &
        text-align center
        font-size: 6rem
        line-height 7rem
        margin-bottom 2rem

// section-4
.feedback
  width 94rem
  margin 0 auto
  color #ffffff
  display flex
  justify-content space-between
  align-items center
  .tablet &
    width 130rem
    flex-direction: column
  .mobile &
    width 100rem
  &--wrapper
    width 100%
    background $blue
    display flex
    padding 10rem 0
    &__send
      padding-bottom 15rem
  &--info
    width 42rem
    flex-shrink: 0
    height 36rem
    .tablet &
      width 100%
      height auto
      margin-bottom 10rem
  &--heading
    font-size 6rem
    font-weight 300
    letter-spacing -0.15rem
    margin 0 0 1.7rem
    .tablet &
      font-size: 10rem
      margin-bottom 3rem
    .mobile &
      font-size: 12rem
      margin-bottom 5rem
  &--description
    letter-spacing -0.045rem
    margin-bottom 4.7rem
    .tablet &
      font-size: 4rem
      margin-bottom 8rem
    .mobile &
      font-size: 5rem
  &--form
    width 45.6rem
    display flex
    flex-direction: column
    justify-content center
    align-items center
    height 36rem
    position relative
    .tablet &
      width 100%
      height auto

.input
  width 100%
  height 5rem
  padding 0 2rem
  line-height 5rem
  margin-bottom 2.9rem
  border 0.1rem solid #cccccc
  background-color #ffffff
  border-radius: .3rem
  position relative
  font-size: 1.8rem
  .tablet &
    height 15rem
    font-size: 5rem
    padding 0 5rem
    &:hover
      font-size: 5rem
  &:hover
    &::placeholder
      font-size 1.5rem
  &:focus
    &::placeholder
      font-size: 0
      color transparent
  &::placeholder
    position absolute
    color $gray
    font-weight 500
    letter-spacing -0.045rem
    transition: $middle
  &--btn
    position absolute
    bottom -10rem
    left 0
    right 0
    margin 0 auto
    display none
textarea
  width 100%
  flex-grow: 1
  padding 1.7rem 2rem
  border 0.1rem solid #cccccc
  background-color #ffffff
  border-radius: .3rem
  position relative
  font-size: 1.8rem
  &:focus
    &::placeholder
      color transparent
  &::placeholder
    position absolute
    color $gray
    font-weight 500
    letter-spacing -0.045rem
    transition: $middle
  .tablet &
    height 45rem
    font-size: 5rem
    padding 3rem 5rem
    &:hover
      font-size: 5rem


.contacts
  display flex
  justify-content space-between
  flex-wrap: wrap
  &--item
    width 18.8rem
    display flex
    align-items center
    position relative
    margin-bottom 3.5rem
    color #ffffff
    transition: $middle
    &:hover
      color: $black
    .tablet &
      width 50%
      font-size: 5rem
    .mobile &
      width 75rem
      margin 2rem auto
  &--info
    margin 0
    padding 0
    padding-left 3.5rem
    .tablet &
      font-size 5rem
      line-height 1
      padding-left 10rem
      margin 2rem
    .mobile &
      font-size: 7rem
  i
    position absolute
    left 0
    top 0
    .tablet &
      top 2rem
    &.fa-mobile-alt
      font-size: 2.9rem
      .tablet &
        font-size: 5.9rem 
    &.fa-envelope
      font-size: 2rem
      .tablet &
        font-size: 5rem 
    &.fa-twitter
      font-size: 2.2rem
      .tablet &
        font-size: 5.2rem 
    &.fa-facebook-f
      font-size: 2.6rem
      left .3rem
      .tablet &
        font-size: 5.6rem 
    &.fa-google-plus-g
      font-size: 2.5rem
      .tablet &
        font-size: 5.5rem
    &.fa-pinterest-p
      font-size: 2.9rem
      .tablet &
        font-size: 5.9rem 

input.wrongEmail
  &::placeholder
    color red
  &:hover
    &::placeholder
      font-size 1.8rem
      .tablet &
        font-size: 5rem