header.header
  nav.header--nav(data-aos="fade-down"  data-aos-delay="0" data-aos-duration="1500")
    a.header--logo(href="#section-1")
      img.header--logo--img(src="/templates/build/images/content/logo.png", alt="logo")
    .header--nav--list
      a.header--nav--item(href="#section-1") Home
      a.header--nav--item(href="#section-2") Services
      a.header--nav--item(href="#section-3") Clients
      a.header--nav--item(href="#section-4") Team
      a.header--nav--item(href="#form") Contact