include ../modules/_modules
+module(MODULE.DEFINE_VIEW, {title: 'Escape. We can do that', id: 0, view: 'Index'})

block content
  .page.page--index(data-view!='<?=PAGE_JS_VIEW?>')
    include ../sections/section-1
    include ../sections/section-2
    include ../sections/section-3
    include ../sections/section-4
    include ../sections/section-5