section.benefits#section-4
  article.benefits--item(data-aos="zoom-in"  data-aos-delay="100" data-aos-duration="800")
    .benefits--img--wrapper
      img.benefits--img(src="/templates/build/images/content/s3-a1.png", alt="")
    p.benefits--description
      span.benefits--heading Branding & Identity
      | Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt. 
  article.benefits--item(data-aos="zoom-in"  data-aos-delay="400" data-aos-duration="800")
    .benefits--img--wrapper
      img.benefits--img(src="/templates/build/images/content/s3-a2.png", alt="")
    p.benefits--description
      span.benefits--heading Web & Graphic Design
      | Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. 
  article.benefits--item(data-aos="zoom-in"  data-aos-delay="700" data-aos-duration="800")
    .benefits--img--wrapper
      img.benefits--img(src="/templates/build/images/content/s3-a3.png", alt="")
    p.benefits--description
      span.benefits--heading Mobile App Development
      | Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. 
  article.benefits--item(data-aos="zoom-in"  data-aos-delay="1000" data-aos-duration="800")
    .benefits--img--wrapper
      img.benefits--img(src="/templates/build/images/content/s3-a4.png", alt="")
    p.benefits--description
      span.benefits--heading Animations
      | Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. 
  article.benefits--item(data-aos="zoom-in"  data-aos-delay="1300" data-aos-duration="800")
    .benefits--img--wrapper
      img.benefits--img(src="/templates/build/images/content/s3-a5.png", alt="")
    p.benefits--description
      span.benefits--heading.uppercase ui/ux
      | Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. 
  article.benefits--item(data-aos="zoom-in"  data-aos-delay="1600" data-aos-duration="800")
    .benefits--img--wrapper
      img.benefits--img(src="/templates/build/images/content/s3-a6.png", alt="")
    p.benefits--description
      span.benefits--heading Photography
      | Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. 

