section.intro#section-1
  h1.intro--heading(data-aos="zoom-in"  data-aos-delay="0" data-aos-duration="1000")
    span.intro--heading__small Can you build the website of my dreams?
    span.intro--heading__big Yup, we can do that.
  a(href="#form").btn.intro--btn(data-aos="zoom-in"  data-aos-delay="0" data-aos-duration="1000") Learn More