section.branding--wrapper#section-3(data-aos="fade-left"  data-aos-delay="10" data-aos-duration="1000")
  .branding
    h2.branding--heading
      |Identity 
      span.bold Branding
    .branding--description
      p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.
      p Iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat.