section.feedback--wrapper#form
  .feedback
    .feedback--info(data-aos="flip-right"  data-aos-delay="0" data-aos-duration="1500")
      h2.feedback--heading Say 
        span.bold Hello
      .feedback--description 
        | Don’t be shy, drop us an email and say hello! We are a really nice bunch of people :)
      section.contacts
        a(href="tel:84165550000").contacts--item
          i.fas.fa-mobile-alt
          p.contacts--info (416) 555-0000
        a(href="mailto:hello@escape.com").contacts--item 
          i.fas.fa-envelope
          p.contacts--info hello@escape.com
        a(href="https://twitter.com/escape" _blank).contacts--item
          i.fab.fa-twitter
          p.contacts--info @escape
        a(href="https://facebook.com/escape" _blank).contacts--item
          i.fab.fa-facebook-f
          p.contacts--info facebook.com/escape
        a(href="https://plus.com/escape" _blank).contacts--item
          i.fab.fa-google-plus-g
          p.contacts--info plus.com/escape
        a(href="https://pinterest.com/escape" _blank).contacts--item
          i.fab.fa-pinterest-p
          p.contacts--info pinterest.com/escape
    form().feedback--form(data-aos="flip-left"  data-aos-delay="0" data-aos-duration="1500")
      input.input.ajaxName(type="text" name="name" placeholder="Your Name *" required)
      input.input.ajaxEmail(type="email" name="email" placeholder="Your E-mail*" required)
      textarea.ajaxMessage(name="message" placeholder="Your Message *")
      input.btn.input--btn(type="submit" value="Send form")