// Базовые классы (для тэгов)

@import "../core/variables.styl";

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	font-size: 10px;
	overflow-x: hidden;
}

body {
	font-size: 1.8rem;
  font-family $Brandon
  max-width 100vw
  overflow: hidden
  color: $dark
}

a, button, input{
  text-decoration: none;
	&:focus{
		outline: 0;
	}
}

p {
  line-height 2.4rem
  letter-spacing -0.045rem
  padding-bottom 1.3rem
  text-align justify
}

[type="text/template"] {
	display: none;
}

img{
  width 100%
}

ul{
  list-style: none
}


.tablet {
  body {
    font-size: 3rem
  }
  p {
    font-size: 4rem
    line-height 5rem
  }
}
.mobile {
  body {
    font-size: 4.5rem
  }
  p {
    font-size: 6rem
    line-height 7rem
  }
}