.btn
  width 24rem
  height 6.5rem
  display flex
  justify-content center
  align-items center
  color #ffffff
  font-size 2.3rem
  font-weight 700
  border: .2rem solid
  border-radius: .4rem
  transition: $fast
  background transparent
  &:hover
    background $blueHover
    border-color: #ffffff
    box-shadow: 0 0 5rem -.2rem $blue
  &:active
    background $blue
    border-color: $blue
    box-shadow: 0 0 5rem -.2rem #ffffff50
  .tablet &
    height 11rem
    width 43rem
    font-size: 4.5rem
    border: .25rem solid
    border-radius: .45rem
  .mobile &
    height 20rem
    width 70rem
    font-size: 8rem