// Дополнительные стили уровня проекта (все что кроме блоков и глобальных стилей)

@import '../core/variables.styl';
@import '../core/mixins.styl';

.sr
  sr()

.container
  position: relative
  container()

.bold
  font-weight 700

.block
  display block

.black
  color $black

.uppercase
  text-transform uppercase