@import '../core/variables.styl'

.footer
  background $blue
  .copy
    width 94rem
    margin 0 auto
    border-top .1rem solid $darkBlue
    color #ffffff
    font-size 1.6rem
    font-weight 500
    line-height 2.2rem
    letter-spacing -0.04rem
    text-align center
    padding 3.1rem
    .tablet &
      font-size 3.5rem
      padding 6rem
      width 130rem
      border-top .2rem solid $darkBlue
    .mobile &
      width 90rem
      font-size: 4.5rem
      line-height 1.5