@import '../core/variables.styl';

.header 
  position fixed
  width 100%
  left 0
  top 0
  padding 4.4rem 0
  transition: $fast
  z-index 1

  &__sticky  
    background url(../images/content/background.jpg) center bottom no-repeat
    background-size cover
    padding 1rem 0

  &--logo
    &--img
      width 15.5rem
      padding-right 1.5rem
      .tablet &
        width 25rem
  
  &--nav
    width 94rem
    margin 0 auto
    display flex
    align-items center
    justify-content space-between
    .tablet &
      width 130rem
    .mobile &
      width 100rem
    &--list
      margin-right -1.3rem
    &--item
      color #ffffff
      padding 1.5rem
      transition: $fast
      &:hover
        color $blue
      .tablet &
        font-size: 4rem