include blocks/caution

doctype html
html
  head
    block head
      include blocks/head
      +head(head)
  body
    script(src!='<?=urlV("%=PATH_JS=%/init".$sourceSuffix.".js")?>')
    block header
      include blocks/header
    main.grid <?=$CONTENT?>
    .loader.js-loader: .loader_box
    block footer
      include blocks/footer
    script(src!='<?=urlV("%=PATH_JS=%/libs".$sourceSuffix.".js")?>')
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script(src!='<?=urlV("%=PATH_JS=%/scripts".$sourceSuffix.".js")?>')
    script(src="/templates/build/vendors/jquery.maskedinput.min.js")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css', integrity='sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP', crossorigin='anonymous')